.yew-data-grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
}

.yew-data-grid-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    padding: 0 10px;

}

.yew-data-grid-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.yew-data-grid-header-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.yew-data-grid-header-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    padding: 0 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.02);
}

/* header separator: create pseudo element - every child except the first */
.yew-data-grid-header-cell:nth-child(n+2)::before {
    position: relative;
    right: 10px;
    content: "";
    width: 1px;
    height: 1.5em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.yew-data-grid-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    flex-grow: 1;
}

.yew-data-grid-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 52px;
    border-top: 1px solid rgba(225, 225, 225, 1);
}

.yew-grid-pagination-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 0 16px;
}

/* border solid otherwise it wil be darker on one side https://stackoverflow.com/questions/70237675/half-of-the-input-border-is-darker */
.yew-grid-pagination-bar-control-button {
    margin: 3px;
    width: 32px;
    height: 32px;
    border-radius: 20%;
    border: thin solid;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.yew-grid-pagination-bar-control-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.yew-grid-pagination-bar-control-button-selected {
    border-color: #1677ff;
    color: #1677ff;
}